<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img
        src="public/images/logo.webp"
        alt="Clarin Facilities Logo"
        class="footer-logo"
        loading="lazy"
      />
      <p class="footer-description">
        Excelência em manutenção predial, comprometida com qualidade e inovação
        para sua empresa.
      </p>
    </div>

    <div class="footer-links">
      <h3>Links Rápidos</h3>
      <ul class="footer-links-list">
        <li><a href="#home">Início</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#about">Sobre Nós</a></li>
        <li>
          <a href="https://wa.me/5515998025982" target="_blank">Contato</a>
        </li>
      </ul>
    </div>

    <div class="footer-services">
      <h3>Nossos Serviços</h3>
      <ul class="footer-links-list">
        <li>Manutenção Predial</li>
        <li>Engenharia</li>
        <li>Solda Industrial</li>
        <li>Facilities</li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contato</h3>
      <ul class="footer-links-list">
        <li>
          <i data-lucide="map-pin" class="contact-icon"></i>
          <span>São Paulo, SP - Brasil</span>
        </li>
        <li>
          <i data-lucide="phone" class="contact-icon"></i>
          <span>(15) 99802-5982</span>
        </li>
        <li>
          <i data-lucide="mail" class="contact-icon"></i>
          <span>contato@clarinfacilities.com.br</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="footer-bottom-p"></p>
  </div>
</footer>
