<section class="services">
  <div class="services-content">
    <h2>Serviços de Manutenção Predial</h2>
    <p>
      A Clarin Facilities oferece uma ampla gama de serviços de manutenção
      predial, com foco na qualidade, segurança e agilidade. Estamos prontos
      para atender suas necessidades, seja para manutenção preventiva ou
      corretiva. Conheça os nossos principais serviços:
    </p>

    <div class="service-list">
      <div class="service-item">
        <h3>Manutenção Elétrica</h3>
        <p>
          Realizamos manutenção preventiva e corretiva em sistemas elétricos,
          garantindo o bom funcionamento das instalações, segurança e a
          conformidade com as normas vigentes.
        </p>
      </div>

      <div class="service-item">
        <h3>Manutenção Hidráulica</h3>
        <p>
          Serviços de manutenção e reparos em sistemas hidráulicos, desde
          consertos de vazamentos até a instalação de novos sistemas. Garantimos
          a eficiência e economia no consumo de água.
        </p>
      </div>

      <div class="service-item">
        <h3>Reparos Estruturais</h3>
        <p>
          Realizamos reparos em estruturas prediais, como pisos, paredes, tetos
          e fundações, com materiais de alta qualidade para assegurar a
          durabilidade e segurança.
        </p>
      </div>

      <div class="service-item">
        <h3>Serviços de Limpeza e Conservação</h3>
        <p>
          Oferecemos serviços de limpeza e conservação predial, incluindo
          limpeza de áreas comuns, vidros, fachadas e higienização de ambientes
          internos.
        </p>
      </div>
    </div>

    <div class="slideshow">
      <h3>Veja nossos serviços em ação</h3>
      <div class="slideshow-container">
        <div class="slide fade">
          <img src="public/images/img1.avif" alt="Manutenção Elétrica" />
          <div class="text">Manutenção Elétrica</div>
        </div>
        <div class="slide fade">
          <img src="public/images/img2.avif" alt="Manutenção Hidráulica" />
          <div class="text">Manutenção Hidráulica</div>
        </div>
        <div class="slide fade">
          <img src="public/images/img3.png" alt="Reparos Estruturais" />
          <div class="text">Reparos Estruturais</div>
        </div>
      </div>
    </div>
  </div>
</section>
